/*.user
/**/*.suo
/**/bin
/**/obj
/**/*.Cache
/**/*.swp
/**/*.swo
/**/CIS.*.dll
/**/.vs
/**/UpgradeLog*.htm
/**/*.vssscc
/**/*.props
/**/*.vsprops
/_NCrunch_*
/_ReSharper.Caches
/.vs
/**/.idea
/**/*.iml
/**/*.user
/**/FakesAssemblies
/**/msbuild.err
/**/msbuild.log
/**/msbuild.sum
/**/msbuild.wrn
/packages
/logs
/Applications/**/Binaries
/Frameworks/**/Binaries
/Legacy/bin
/Legacy/Binaries
/Legacy/Correspondence/msbuild.*
/Legacy/Deployment
/Legacy/Product/msbuild.*
/Legacy/Product/msbuildtt.*
/Legacy/Product/Packages/TaskToaster/packages
/Legacy/Product/Packages/TaskToaster/Binaries
/Legacy/Product/Packages/WebServices/packages
/Legacy/Product/Binaries/Aspose.Pdf.Kit.dll
/Legacy/Product/Binaries/Aurea.TaskToaster.CorrespondanceServices.pdb
/Legacy/Product/Binaries/Aurea.TaskToaster.DeliveryServices.pdb
/Legacy/Product/Binaries/Aurea.TaskToaster.InvoiceEngine.pdb
/Legacy/Product/Binaries/Aurea.TaskToaster.ProductTasks.pdb
/Legacy/Product/Binaries/Aurea.TaskToaster.pdb
/Legacy/Product/Binaries/Csla.dll
/Legacy/Product/Binaries/Csla.pdb
/Legacy/Product/Binaries/ICSharpCode.SharpZipLib.dll
/Legacy/Product/Binaries/Microsoft.Practices.EnterpriseLibrary.Common.dll
/Legacy/Product/Binaries/Microsoft.Practices.EnterpriseLibrary.Logging.dll
/Legacy/Product/Binaries/Microsoft.Practices.ObjectBuilder.dll
/Legacy/Product/Binaries/Aurea.Miramar.Tasks.dll
/Legacy/Product/Binaries/Aurea.TaskToaster.CorrespondanceServices.dll
/Legacy/Product/Binaries/Aurea.TaskToaster.DeliveryServices.dll
/Legacy/Product/Binaries/Aurea.TaskToaster.ProductTasks.dll
/Legacy/Product/Binaries/Aurea.TaskToaster.dll
/Legacy/Product/Binaries/CIS.CCH.Import.pdb
/Legacy/Product/Binaries/CIS.Correspondence.Services.BatchContentEngine.exe
/Legacy/Product/Binaries/CIS.Correspondence.Services.BillReadyEngine.exe
/Legacy/Product/Binaries/CIS.Correspondence.Services.ContentEngine.exe
/Legacy/Product/Binaries/CIS.Correspondence.Services.LocalPrintEngine.exe
/Legacy/Product/Binaries/CIS.Correspondence.Services.Scheduler.exe
/Legacy/Product/Binaries/CIS.Correspondence.UI.LocalPrint.exe
/Legacy/Product/Binaries/CIS.Import.BulkImport.Console.exe
/Legacy/Product/Binaries/CIS.Services.Billing.Engine.exe
/Legacy/Product/Binaries/CIS.Services.Billing.Global.exe
/Legacy/Product/Binaries/CIS.Services.Billing.InvoiceEngine.exe
/Legacy/Product/Binaries/CIS.Services.Billing.PrintEngine.exe
/Legacy/Product/Binaries/CIS.Services.Billing.ReportEngine.exe
/Legacy/Product/Binaries/CIS.Services.BulkImport.exe
/Legacy/Product/Binaries/CIS.Services.Email.exe
/Legacy/Product/Binaries/CIS.Services.EventEngine.exe
/Legacy/Product/Binaries/CIS.Services.Monitoring.exe
/Legacy/Product/Binaries/Viterra.Common.dll
/Legacy/Product/Binaries/Viterra.Components.dll
/Legacy/Product/Binaries/Viterra.CreditCard.dll
/Legacy/Product/Binaries/Viterra.Export.RetailOffice.dll
/Legacy/Product/Binaries/ViterraWeb.Controls.dll
/Legacy/Product/Binaries/EntityFramework.xml
/Legacy/Product/Binaries/Aurea.Billing.Domain.dll
/Legacy/Product/Binaries/Aurea.Billing.Domain.pdb
/Legacy/Product/Binaries/Aurea.Invoicing.Domain.dll
/Legacy/Product/Binaries/Aurea.Invoicing.Domain.pdb
/Legacy/Product/Binaries/Aurea.TaskToaster.Aes.dll
/Legacy/Product/Binaries/Aurea.TaskToaster.Aes.pdb
/Legacy/Product/Binaries/Aurea.TaskToaster.InvoiceEngine.dll
/Legacy/Product/Binaries/Autofac.dll
/Legacy/Product/Binaries/Base.Db.Orm.Ef.dll
/Legacy/Product/Binaries/Base.Db.Orm.Ef.pdb
/Legacy/Product/Binaries/Base.dll
/Legacy/Product/Binaries/Base.pdb
/Legacy/Product/Binaries/EntityFramework.SqlServer.dll
/Legacy/Product/Binaries/EntityFramework.SqlServer.xml
/Legacy/Product/Binaries/EntityFramework.dll
/Legacy/Product/Binaries/Aurea.AES.Failover.Api.Client.dll
/Legacy/Product/Binaries/Aurea.AES.Failover.Api.Client.pdb
/Legacy/Product/Binaries/Aurea.AES.Failover.Api.Models.dll
/Legacy/Product/Binaries/Aurea.AES.Failover.Api.Models.pdb
/Legacy/Product/Binaries/CIS.Framework.pdb
/Legacy/Product/Binaries/Newtonsoft.Json.dll
/Legacy/Product/Binaries/Newtonsoft.Json.xml
/Legacy/Product/Binaries/Microsoft.Practices.EnterpriseLibrary.Caching.dll
/Legacy/Product/Binaries/Microsoft.Practices.EnterpriseLibrary.Data.dll
/Legacy/Product/Binaries/TaskToaster
/Legacy/Product/Binaries/InHouse
/Quality/RegressionSuite/TestResults
/Resources/SetupAWS/config.ini
/Legacy/Product/Binaries/CIS.BusinessComponent.Market.pdb
/Legacy/Product/Binaries/CIS.BusinessComponent.Security.pdb
/Legacy/Product/Binaries/CIS.BusinessComponent.pdb
/Legacy/Product/Binaries/CIS.BusinessEntity.Billing.pdb
/Legacy/Product/Binaries/CIS.BusinessEntity.Market.pdb
/Legacy/Product/Binaries/CIS.BusinessEntity.Security.pdb
/Legacy/Product/Binaries/CIS.BusinessEntity.pdb
/Legacy/Product/Binaries/CIS.CASH.Services.Proxy.pdb
/Legacy/Product/Binaries/CIS.Components.CASHPayment.pdb
/Legacy/Product/Binaries/CIS.Core.Security.pdb
/Legacy/Product/Binaries/CIS.CustomException.Billing.pdb
/Legacy/Product/Binaries/CIS.DataAccessComponent.Billing.pdb
/Legacy/Product/Binaries/CIS.DataAccessComponent.Market.pdb
/Legacy/Product/Binaries/CIS.DataAccessComponent.Security.pdb
/Legacy/Product/Binaries/CIS.DataAccessComponent.pdb
/Legacy/Product/Binaries/CIS.Element.AR.pdb
/Legacy/Product/Binaries/CIS.Element.Billing.pdb
/Legacy/Product/Binaries/CIS.Element.Core.pdb
/Legacy/Product/Binaries/CIS.Element.Event.pdb
/Legacy/Product/Binaries/CIS.Element.Logging.pdb
/Legacy/Product/Binaries/CIS.Element.pdb
/Legacy/Product/Binaries/CIS.Enum.pdb
/Legacy/Product/Binaries/CIS.Framework.Security.pdb
/Legacy/Product/Binaries/CIS.Framework.Web.Services.pdb
/Legacy/Product/Binaries/CIS.Library.Cryptography.pdb
/Legacy/Product/Binaries/DomainName.Library.dll
/Legacy/Product/Binaries/DomainName.Library.pdb
/Legacy/Product/Binaries/Microsoft.Web.Services2.dll
/Legacy/Product/Binaries/CIS.Billing.BusinessObject.pdb
/Legacy/Product/Binaries/CIS.BusinessComponent.Billing.pdb
/Legacy/Product/Binaries/CIS.Components.Aging.pdb
/Legacy/Product/Packages/TaskToaster/_ReSharper.Caches
/Legacy/Product/Binaries/CIS.Framework.dll.config
/Legacy/Product/Binaries/CIS.Corr.Contract.pdb
/Clients/*/BuildOutput
/Clients/*/Deployment
/Applications/TaskToaster/packages
node_modules
_ReSharper.Caches
/DatabaseOctopus/_DbOutput
/Legacy/Product/Packages/Web/Source/CIS.Web.Billing.Administration/bower_components
/Clients/Accent/UnitTestExecution
/Clients/Spark/Legacy/Packages/packages
/Clients/Spark/UnitTestExecution
/Clients/GreenMountain/UnitTestExecution
/Clients/HudsonEnergy/UnitTestExecution
/Clients/HudsonEnergy/Legacy/TestResults
/Clients/Spark/Legacy/Packages/TestResults
/Clients/BuildOutput
/Clients/Deployment
/Clients/UnitTestExecution
/Clients/Startex/UnitTestExecution
/Clients/Stream/Legacy/Packages/TestResults
/Clients/Stream/UnitTestExecution
/Clients/HudsonEnergy/Legacy/Binaries/*
Resources/SetupAWS/DBCopier/packages/
/Clients/GreenMountain/Legacy/TestResults
/Clients/AureaEnergy/Legacy/Binaries/*
/Legacy/Product/Packages/ImportExport/Source/CIS.Import.Billing.Tdsp/bin
/Clients/Accent/Legacy/Binaries/*
/Clients/AEPEnergy/Legacy/Binaries/*
/Clients/GreenMountain/Legacy/Binaries/*
/Clients/Liberty/Binaries/*
/Clients/Startex/Legacy/Binaries/*
/Clients/Spark/Legacy/Binaries/*
/Clients/Stream/Legacy/Binaries/*
/Clients/Texpo/Binaries/*
/Clients/TRE/Legacy/Binaries/*
/Legacy/Product/Binaries/CIS.Web.Billing.Clients.AureaEnergy.pdb
/Legacy/Product/Binaries/CIS.Web.Billing.Clients.Stream.pdb
Applications/Aes.Dashboards/packages/
Applications/Aes.Dashboards/Aurea.Dashboard/logs/
/Applications/Autopay/packages
/Applications/S3Archive/packages
/Applications/CashPci/packages/packages
/Applications/Transforms/packages
/Applications/Transforms/Aurea.Aes.Transforms/bin/*.*
/Applications/Transforms/Aurea.Aes.Transforms/bin/**/*.*
/Applications/Transforms/Aurea.Aes.Transforms.Console/bin/*.*
/Applications/Transforms/Aurea.Aes.Transforms.Console/bin/**/*.*
/Applications/Transforms/PoC/**/packages
/Applications/Transforms/**/logs/*.*
Applications/CIS.Web.Services.EDI/packages/
/Applications/Transforms/Out
/Legacy/Product/Packages/TaskToaster/Aurea.TaskToaster.ProductTasks/bin/*.*
/Legacy/Product/Packages/TaskToaster/Aurea.TaskToaster.ProductTasks/obj/*.*
Deployment/Docker
/Legacy/Product/Binaries/CIS.Components.CriteriaProcessor.*
/Legacy/Product/Binaries/CIS.Import.BulkImport.*
/Legacy/Product/Binaries/Microsoft.SqlServer.ManagedDTS.dll
/Legacy/Product/Binaries/Autofac.xml
/Legacy/Product/Binaries/CIS.Services.BulkImport.exe.log
/Legacy/Product/Binaries/nunit_random_seed.tmp
/Legacy/Product/Binaries/CIS.Components.BulkImport.Console.vshost.*
/Legacy/Product/Binaries/Polly.*
/Legacy/Product/Binaries/Aurea.Aes.Policies.*
/Legacy/Product/Binaries/NLog.*
/Clients/GreenMountain/Legacy/Packages/Letters/Source/CIS.Print.Clients.GMC.DisconnectLetter/obj
/Clients/GreenMountain/Legacy/Packages/Letters/Source/CIS.Print.Clients.GMC.SecurityDeposit/obj
/Clients/GreenMountain/Legacy/Packages/Letters/Source/CIS.Print.Clients.GMC.WelcomeKit/obj
/Clients/GreenMountain/Legacy/Packages/Web/Source/CIS.Web.Billing.Clients.GMC/obj
/Resources/GACAssembliesDependencies/processed_dll.txt
*.vspx
*.psess
Quality/AUT/output/
codealike.json
